.subtitle {
    color: var(--color-components-text-neutral-secondary);
}

.info {
    margin-top: var(--padding-l);
    padding: var(--padding-xl) var(--padding-xxl);
    border-radius: var(--main-s);
    background: var(--color-components-background-frame);
}
