.container {
    display: flex;
    align-items: center;
    gap: 16px;
}

.column {
    display: grid;
    gap: 8px;
}

.row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.noEmployees {
    color: var(--color-components-text-neutral-tertiary);
}
