@import "src/ui/styles/functions";

.skeleton {
    border-radius: 8px;
    animation: skeleton-loading 1s linear infinite alternate;
    background-color: $color-components-background-neutral-pale;
}

@keyframes skeleton-loading {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
