$color-mode-brand-primary: #da2031;
$color-mode-brand-secondary: #e3404f;
$color-mode-brand-pale: #fae0e2;
$color-mode-brand-tertiary: #f6c1c6;

$color-components-background-brand: $color-mode-brand-primary;
$color-components-background-brand-pale: $color-mode-brand-pale;
$color-components-graphic-brand: $color-mode-brand-primary;
$color-components-stroke-brand: $color-mode-brand-primary;
$color-components-stroke-brand-pale: $color-mode-brand-pale;
$color-components-stroke-brand-tertiary: $color-mode-brand-tertiary;
$color-components-text-brand: $color-mode-brand-primary;
$color-components-text-brand-secondary: $color-mode-brand-secondary;
