@import "vars";

:root {
    --badge-medium: #{$badge-medium};
    --badge-small: #{$badge-small};
    --button-huge: #{$button-huge};
    --button-icon-large: #{$button-icon-large};
    --button-icon-medium: #{$button-icon-medium};
    --button-icon-small: #{$button-icon-small};
    --button-icon-tiny: #{$button-icon-tiny};
    --button-large: #{$button-large};
    --button-medium: #{$button-medium};
    --button-small: #{$button-small};
    --button-tiny: #{$button-tiny};
    --color-carrot-0: #{$color-carrot-0};
    --color-carrot-100: #{$color-carrot-100};
    --color-carrot-1000: #{$color-carrot-1000};
    --color-carrot-200: #{$color-carrot-200};
    --color-carrot-300: #{$color-carrot-300};
    --color-carrot-400: #{$color-carrot-400};
    --color-carrot-500: #{$color-carrot-500};
    --color-carrot-600: #{$color-carrot-600};
    --color-carrot-700: #{$color-carrot-700};
    --color-carrot-800: #{$color-carrot-800};
    --color-carrot-900: #{$color-carrot-900};
    --color-fir-0: #{$color-fir-0};
    --color-fir-100: #{$color-fir-100};
    --color-fir-1000: #{$color-fir-1000};
    --color-fir-200: #{$color-fir-200};
    --color-fir-300: #{$color-fir-300};
    --color-fir-400: #{$color-fir-400};
    --color-fir-500: #{$color-fir-500};
    --color-fir-600: #{$color-fir-600};
    --color-fir-700: #{$color-fir-700};
    --color-fir-800: #{$color-fir-800};
    --color-fir-900: #{$color-fir-900};
    --color-lavender-500: #{$color-lavender-500};
    --color-neutrals-0: #{$color-neutrals-0};
    --color-neutrals-100: #{$color-neutrals-100};
    --color-neutrals-1000: #{$color-neutrals-1000};
    --color-neutrals-200: #{$color-neutrals-200};
    --color-neutrals-300: #{$color-neutrals-300};
    --color-neutrals-400: #{$color-neutrals-400};
    --color-neutrals-500: #{$color-neutrals-500};
    --color-neutrals-600: #{$color-neutrals-600};
    --color-neutrals-700: #{$color-neutrals-700};
    --color-neutrals-800: #{$color-neutrals-800};
    --color-neutrals-900: #{$color-neutrals-900};
    --color-ocean-0: #{$color-ocean-0};
    --color-ocean-100: #{$color-ocean-100};
    --color-ocean-1000: #{$color-ocean-1000};
    --color-ocean-200: #{$color-ocean-200};
    --color-ocean-300: #{$color-ocean-300};
    --color-ocean-400: #{$color-ocean-400};
    --color-ocean-500: #{$color-ocean-500};
    --color-ocean-600: #{$color-ocean-600};
    --color-ocean-700: #{$color-ocean-700};
    --color-ocean-800: #{$color-ocean-800};
    --color-ocean-900: #{$color-ocean-900};
    --color-rating-0: #{$color-rating-0};
    --color-rating-100: #{$color-rating-100};
    --color-rating-1000: #{$color-rating-1000};
    --color-rating-200: #{$color-rating-200};
    --color-rating-300: #{$color-rating-300};
    --color-rating-400: #{$color-rating-400};
    --color-rating-500: #{$color-rating-500};
    --color-rating-600: #{$color-rating-600};
    --color-rating-700: #{$color-rating-700};
    --color-rating-800: #{$color-rating-800};
    --color-rating-900: #{$color-rating-900};
    --color-states-invert-disabled: #{$color-states-invert-disabled};
    --color-states-invert-focus: #{$color-states-invert-focus};
    --color-states-invert-hover: #{$color-states-invert-hover};
    --color-states-invert-pale: #{$color-states-invert-pale};
    --color-states-invert-pressing: #{$color-states-invert-pressing};
    --color-states-primary-disabled: #{$color-states-primary-disabled};
    --color-states-primary-focus: #{$color-states-primary-focus};
    --color-states-primary-hover: #{$color-states-primary-hover};
    --color-states-primary-pale: #{$color-states-primary-pale};
    --color-states-primary-pressing: #{$color-states-primary-pressing};
    --color-strawberry-0: #{$color-strawberry-0};
    --color-strawberry-100: #{$color-strawberry-100};
    --color-strawberry-1000: #{$color-strawberry-1000};
    --color-strawberry-200: #{$color-strawberry-200};
    --color-strawberry-300: #{$color-strawberry-300};
    --color-strawberry-400: #{$color-strawberry-400};
    --color-strawberry-500: #{$color-strawberry-500};
    --color-strawberry-600: #{$color-strawberry-600};
    --color-strawberry-700: #{$color-strawberry-700};
    --color-strawberry-800: #{$color-strawberry-800};
    --color-strawberry-900: #{$color-strawberry-900};
    --counter-large: #{$counter-large};
    --counter-medium: #{$counter-medium};
    --counter-small: #{$counter-small};
    --floating-button-huge: #{$floating-button-huge};
    --input-large: #{$input-large};
    --input-medium: #{$input-medium};
    --main-l: #{$main-l};
    --main-m: #{$main-m};
    --main-s: #{$main-s};
    --main-xl: #{$main-xl};
    --main-xs: #{$main-xs};
    --main-xxl: #{$main-xxl};
    --main-xxxl: #{$main-xxxl};
    --main-xxxxl: #{$main-xxxxl};
    --margin-l: #{$margin-l};
    --margin-m: #{$margin-m};
    --margin-s: #{$margin-s};
    --margin-xl: #{$margin-xl};
    --margin-xs: #{$margin-xs};
    --margin-xxl: #{$margin-xxl};
    --margin-xxxl: #{$margin-xxxl};
    --padding-l: #{$padding-l};
    --padding-m: #{$padding-m};
    --padding-s: #{$padding-s};
    --padding-xl: #{$padding-xl};
    --padding-xs: #{$padding-xs};
    --padding-xxl: #{$padding-xxl};
    --padding-xxs: #{$padding-xxs};
    --padding-xxxl: #{$padding-xxxl};
    --status-medium: #{$status-medium};
    --status-small: #{$status-small};
    --status-tiny: #{$status-tiny};
    --color-mode-accent-pale: #{$color-mode-accent-pale};
    --color-mode-accent-primary: #{$color-mode-accent-primary};
    --color-mode-accent-secondary: #{$color-mode-accent-secondary};
    --color-mode-accent-tertiary: #{$color-mode-accent-tertiary};
    --color-mode-contrast-primary: #{$color-mode-contrast-primary};
    --color-mode-contrast-secondary: #{$color-mode-contrast-secondary};
    --color-mode-contrast-tertiary: #{$color-mode-contrast-tertiary};
    --color-mode-negative-pale: #{$color-mode-negative-pale};
    --color-mode-negative-primary: #{$color-mode-negative-primary};
    --color-mode-negative-secondary: #{$color-mode-negative-secondary};
    --color-mode-negative-tertiary: #{$color-mode-negative-tertiary};
    --color-mode-neutral-pale: #{$color-mode-neutral-pale};
    --color-mode-neutral-primary: #{$color-mode-neutral-primary};
    --color-mode-neutral-secondary: #{$color-mode-neutral-secondary};
    --color-mode-neutral-tertiary: #{$color-mode-neutral-tertiary};
    --color-mode-positive-pale: #{$color-mode-positive-pale};
    --color-mode-positive-primary: #{$color-mode-positive-primary};
    --color-mode-positive-secondary: #{$color-mode-positive-secondary};
    --color-mode-positive-tertiary: #{$color-mode-positive-tertiary};
    --color-mode-system-link: #{$color-mode-system-link};
    --color-mode-system-link-visited: #{$color-mode-system-link-visited};
    --color-mode-warning-pale: #{$color-mode-warning-pale};
    --color-mode-warning-primary: #{$color-mode-warning-primary};
    --color-mode-warning-secondary: #{$color-mode-warning-secondary};
    --color-mode-warning-tertiary: #{$color-mode-warning-tertiary};
    --color-components-background-accent: #{$color-components-background-accent};
    --color-components-background-accent-pale: #{$color-components-background-accent-pale};
    --color-components-background-contrast: #{$color-components-background-contrast};
    --color-components-background-contrast-hover: #{$color-components-background-contrast-hover};
    --color-components-background-contrast-pale: #{$color-components-background-contrast-pale};
    --color-components-background-frame: #{$color-components-background-frame};
    --color-components-background-negative: #{$color-components-background-negative};
    --color-components-background-negative-pale: #{$color-components-background-negative-pale};
    --color-components-background-neutral: #{$color-components-background-neutral};
    --color-components-background-neutral-pale: #{$color-components-background-neutral-pale};
    --color-components-background-neutral-secondary: #{$color-components-background-neutral-secondary};
    --color-components-background-neutral-tertiary: #{$color-components-background-neutral-tertiary};
    --color-components-background-positive: #{$color-components-background-positive};
    --color-components-background-positive-pale: #{$color-components-background-positive-pale};
    --color-components-background-warning: #{$color-components-background-warning};
    --color-components-background-warning-pale: #{$color-components-background-warning-pale};
    --color-components-graphic-accent: #{$color-components-graphic-accent};
    --color-components-graphic-contrast: #{$color-components-graphic-contrast};
    --color-components-graphic-link: #{$color-components-graphic-link};
    --color-components-graphic-link-visited: #{$color-components-graphic-link-visited};
    --color-components-graphic-negative: #{$color-components-graphic-negative};
    --color-components-graphic-neutral: #{$color-components-graphic-neutral};
    --color-components-graphic-neutral-secondary: #{$color-components-graphic-neutral-secondary};
    --color-components-graphic-positive: #{$color-components-graphic-positive};
    --color-components-graphic-warning: #{$color-components-graphic-warning};
    --color-components-stroke-accent: #{$color-components-stroke-accent};
    --color-components-stroke-accent-pale: #{$color-components-stroke-accent-pale};
    --color-components-stroke-accent-tertiary: #{$color-components-stroke-accent-tertiary};
    --color-components-stroke-contrast: #{$color-components-stroke-contrast};
    --color-components-stroke-contrast-tertiary: #{$color-components-stroke-contrast-tertiary};
    --color-components-stroke-link: #{$color-components-stroke-link};
    --color-components-stroke-link-visited: #{$color-components-stroke-link-visited};
    --color-components-stroke-negative: #{$color-components-stroke-negative};
    --color-components-stroke-negative-tertiary: #{$color-components-stroke-negative-tertiary};
    --color-components-stroke-neutral: #{$color-components-stroke-neutral};
    --color-components-stroke-neutral-pale: #{$color-components-stroke-neutral-pale};
    --color-components-stroke-neutral-secondary: #{$color-components-stroke-neutral-secondary};
    --color-components-stroke-neutral-tertiary: #{$color-components-stroke-neutral-tertiary};
    --color-components-stroke-positive: #{$color-components-stroke-positive};
    --color-components-stroke-positive-tertiary: #{$color-components-stroke-positive-tertiary};
    --color-components-stroke-warning: #{$color-components-stroke-warning};
    --color-components-stroke-warning-tertiary: #{$color-components-stroke-warning-tertiary};
    --color-components-text-accent: #{$color-components-text-accent};
    --color-components-text-accent-secondary: #{$color-components-text-accent-secondary};
    --color-components-text-contrast: #{$color-components-text-contrast};
    --color-components-text-contrast-secondary: #{$color-components-text-contrast-secondary};
    --color-components-text-link: #{$color-components-text-link};
    --color-components-text-link-visited: #{$color-components-text-link-visited};
    --color-components-text-negative: #{$color-components-text-negative};
    --color-components-text-neutral: #{$color-components-text-neutral};
    --color-components-text-neutral-secondary: #{$color-components-text-neutral-secondary};
    --color-components-text-neutral-tertiary: #{$color-components-text-neutral-tertiary};
    --color-components-text-positive: #{$color-components-text-positive};
    --color-components-text-warning: #{$color-components-text-warning};
}

:root {
    --color-mode-brand-primary: #{$color-mode-brand-primary};
    --color-mode-brand-secondary: #{$color-mode-brand-secondary};
    --color-mode-brand-pale: #{$color-mode-brand-pale};
    --color-mode-brand-tertiary: #{$color-mode-brand-tertiary};
    --color-components-background-brand: #{$color-mode-brand-primary};
    --color-components-background-brand-pale: #{$color-mode-brand-pale};
    --color-components-graphic-brand: #{$color-mode-brand-primary};
    --color-components-stroke-brand: #{$color-mode-brand-primary};
    --color-components-stroke-brand-pale: #{$color-mode-brand-pale};
    --color-components-stroke-brand-tertiary: #{$color-mode-brand-tertiary};
    --color-components-text-brand: #{$color-mode-brand-primary};
    --color-components-text-brand-secondary: #{$color-mode-brand-secondary};
}
