@import "src/ui/styles/brandVars";

$badge-medium: 16px;
$badge-small: 8px;
$button-huge: 60px;
$button-icon-large: 52px;
$button-icon-medium: 44px;
$button-icon-small: 36px;
$button-icon-tiny: 28px;
$button-large: 52px;
$button-medium: 44px;
$button-small: 36px;
$button-tiny: 28px;
$color-carrot-0: #ffefdbff;
$color-carrot-100: #ffddb2ff;
$color-carrot-1000: #522e00ff;
$color-carrot-200: #ffca89ff;
$color-carrot-300: #ffb85fff;
$color-carrot-400: #ffa636ff;
$color-carrot-500: #ff940dff;
$color-carrot-600: #dc7f09ff;
$color-carrot-700: #ba6a06ff;
$color-carrot-800: #975603ff;
$color-carrot-900: #754201ff;
$color-fir-0: #dbffecff;
$color-fir-100: #a7ebc7ff;
$color-fir-1000: #005226ff;
$color-fir-200: #78d8a5ff;
$color-fir-300: #4fc486ff;
$color-fir-400: #2db16aff;
$color-fir-500: #109d51ff;
$color-fir-600: #0c8e48ff;
$color-fir-700: #087f3fff;
$color-fir-800: #057036ff;
$color-fir-900: #02612eff;
$color-lavender-500: #8c3af8ff;
$color-neutrals-0: #ffffffff;
$color-neutrals-100: #e6e6e6ff;
$color-neutrals-1000: #070707ff;
$color-neutrals-200: #cdcdcdff;
$color-neutrals-300: #b5b5b5ff;
$color-neutrals-400: #9c9c9cff;
$color-neutrals-500: #838383ff;
$color-neutrals-600: #6a6a6aff;
$color-neutrals-700: #515151ff;
$color-neutrals-800: #393939ff;
$color-neutrals-900: #202020ff;
$color-ocean-0: #dbe5ffff;
$color-ocean-100: #abc0f8ff;
$color-ocean-1000: #001752ff;
$color-ocean-200: #7d9df2ff;
$color-ocean-300: #517cebff;
$color-ocean-400: #275ce5ff;
$color-ocean-500: #003edeff;
$color-ocean-600: #0036c2ff;
$color-ocean-700: #002ea6ff;
$color-ocean-800: #00278aff;
$color-ocean-900: #001f6eff;
$color-rating-0: #fff6dbff;
$color-rating-100: #ffebafff;
$color-rating-1000: #523e00ff;
$color-rating-200: #ffe183ff;
$color-rating-300: #ffd658ff;
$color-rating-400: #ffcc2cff;
$color-rating-500: #ffc200ff;
$color-rating-600: #dca700ff;
$color-rating-700: #ba8d00ff;
$color-rating-800: #977300ff;
$color-rating-900: #755800ff;
$color-states-invert-disabled: #070707ad;
$color-states-invert-focus: #ffffff3d;
$color-states-invert-hover: #ffffff33;
$color-states-invert-pale: #07070766;
$color-states-invert-pressing: #ffffff14;
$color-states-primary-disabled: #ffffffad;
$color-states-primary-focus: #07070729;
$color-states-primary-hover: #0707070a;
$color-states-primary-pale: #ffffff66;
$color-states-primary-pressing: #07070714;
$color-strawberry-0: #ffdddbff;
$color-strawberry-100: #f8b3b0ff;
$color-strawberry-1000: #520400ff;
$color-strawberry-200: #f28c86ff;
$color-strawberry-300: #eb665fff;
$color-strawberry-400: #e54139ff;
$color-strawberry-500: #de1f16ff;
$color-strawberry-600: #c2180fff;
$color-strawberry-700: #a6110aff;
$color-strawberry-800: #8a0c05ff;
$color-strawberry-900: #6e0702ff;
$counter-large: 28px;
$counter-medium: 24px;
$counter-small: 20px;
$floating-button-huge: 60px;
$input-large: 52px;
$input-medium: 44px;
$main-l: 16px;
$main-m: 12px;
$main-s: 8px;
$main-xl: 20px;
$main-xs: 4px;
$main-xxl: 24px;
$main-xxxl: 28px;
$main-xxxxl: 40px;
$margin-l: 32px;
$margin-m: 28px;
$margin-s: 24px;
$margin-xl: 36px;
$margin-xs: 20px;
$margin-xxl: 40px;
$margin-xxxl: 44px;
$padding-l: 16px;
$padding-m: 12px;
$padding-s: 8px;
$padding-xl: 20px;
$padding-xs: 4px;
$padding-xxl: 24px;
$padding-xxs: 2px;
$padding-xxxl: 28px;
$status-medium: 44px;
$status-small: 36px;
$status-tiny: 28px;
$color-mode-accent-pale: $color-ocean-0;
$color-mode-accent-primary: $color-ocean-500;
$color-mode-accent-secondary: $color-ocean-400;
$color-mode-accent-tertiary: $color-ocean-100;
$color-mode-contrast-primary: $color-neutrals-0;
$color-mode-contrast-secondary: $color-neutrals-100;
$color-mode-contrast-tertiary: $color-neutrals-900;
$color-mode-negative-pale: $color-strawberry-0;
$color-mode-negative-primary: $color-strawberry-500;
$color-mode-negative-secondary: $color-strawberry-600;
$color-mode-negative-tertiary: $color-strawberry-100;
$color-mode-neutral-pale: $color-neutrals-100;
$color-mode-neutral-primary: $color-neutrals-1000;
$color-mode-neutral-secondary: $color-neutrals-800;
$color-mode-neutral-tertiary: $color-neutrals-300;
$color-mode-positive-pale: $color-fir-0;
$color-mode-positive-primary: $color-fir-500;
$color-mode-positive-secondary: $color-fir-700;
$color-mode-positive-tertiary: $color-fir-100;
$color-mode-system-link: $color-ocean-400;
$color-mode-system-link-visited: $color-lavender-500;
$color-mode-warning-pale: $color-carrot-0;
$color-mode-warning-primary: $color-carrot-500;
$color-mode-warning-secondary: $color-carrot-600;
$color-mode-warning-tertiary: $color-carrot-100;
$color-components-background-accent: $color-mode-accent-primary;
$color-components-background-accent-pale: $color-mode-accent-pale;
$color-components-background-contrast: $color-mode-contrast-primary;
$color-components-background-contrast-hover: #f7f9fbff;
$color-components-background-contrast-pale: $color-mode-contrast-tertiary;
$color-components-background-frame: #fafafaff;
$color-components-background-negative: $color-mode-negative-primary;
$color-components-background-negative-pale: $color-mode-negative-pale;
$color-components-background-neutral: $color-mode-neutral-primary;
$color-components-background-neutral-pale: $color-mode-neutral-pale;
$color-components-background-neutral-secondary: $color-mode-neutral-secondary;
$color-components-background-neutral-tertiary: $color-mode-neutral-tertiary;
$color-components-background-positive: $color-mode-positive-primary;
$color-components-background-positive-pale: $color-mode-positive-pale;
$color-components-background-warning: $color-mode-warning-primary;
$color-components-background-warning-pale: $color-mode-warning-pale;
$color-components-graphic-accent: $color-mode-accent-primary;
$color-components-graphic-contrast: $color-mode-contrast-primary;
$color-components-graphic-link: $color-mode-system-link;
$color-components-graphic-link-visited: $color-mode-system-link-visited;
$color-components-graphic-negative: $color-mode-negative-secondary;
$color-components-graphic-neutral: $color-mode-neutral-primary;
$color-components-graphic-neutral-secondary: $color-mode-neutral-secondary;
$color-components-graphic-positive: $color-mode-positive-secondary;
$color-components-graphic-warning: $color-mode-warning-secondary;
$color-components-stroke-accent: $color-mode-accent-primary;
$color-components-stroke-accent-pale: $color-mode-accent-pale;
$color-components-stroke-accent-tertiary: $color-mode-accent-tertiary;
$color-components-stroke-contrast: $color-mode-contrast-primary;
$color-components-stroke-contrast-tertiary: $color-mode-contrast-secondary;
$color-components-stroke-link: $color-mode-system-link;
$color-components-stroke-link-visited: $color-mode-system-link-visited;
$color-components-stroke-negative: $color-mode-negative-secondary;
$color-components-stroke-negative-tertiary: $color-mode-negative-tertiary;
$color-components-stroke-neutral: $color-mode-neutral-primary;
$color-components-stroke-neutral-pale: $color-mode-neutral-pale;
$color-components-stroke-neutral-secondary: $color-mode-neutral-secondary;
$color-components-stroke-neutral-tertiary: $color-mode-neutral-tertiary;
$color-components-stroke-positive: $color-mode-positive-secondary;
$color-components-stroke-positive-tertiary: $color-mode-positive-tertiary;
$color-components-stroke-warning: $color-mode-warning-secondary;
$color-components-stroke-warning-tertiary: $color-mode-warning-tertiary;
$color-components-text-accent: $color-mode-accent-primary;
$color-components-text-accent-secondary: $color-mode-accent-secondary;
$color-components-text-contrast: $color-mode-contrast-primary;
$color-components-text-contrast-secondary: $color-mode-contrast-secondary;
$color-components-text-link: $color-mode-system-link;
$color-components-text-link-visited: $color-mode-system-link-visited;
$color-components-text-negative: $color-mode-negative-secondary;
$color-components-text-neutral: $color-mode-neutral-primary;
$color-components-text-neutral-secondary: $color-mode-neutral-secondary;
$color-components-text-neutral-tertiary: $color-mode-neutral-tertiary;
$color-components-text-positive: $color-mode-positive-secondary;
$color-components-text-warning: $color-mode-warning-secondary;
