.h1 {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.h3 {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.h4 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.h5 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.actionXL {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.32px;
}

.actionL {
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.15px;
}

.actionM {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.actionS {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.actionXS {
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
}

.subheadXL {
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.subheadL {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.subheadM {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.bodyXL {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
}

.bodyL {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.bodyM {
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.bodyS {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.noWrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
