@import "src/ui/styles/vars";
@import "src/ui/styles/functions";

.container {
    padding: 0 20px;
    min-height: 64px;
    display: flex;
    width: 100%;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    /*margin-top: 12px;*/
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 12px 0 rgba(7, 7, 7, 0.08);
    z-index: 2;
    background-color: white;
    border-bottom: 1px solid var(--color-components-stroke-neutral-pale, #e6e6e6);
}

.pagename {
    color: $color-components-text-neutral;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
}

.pageIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    svg path {
        fill: $color-components-graphic-brand;
    }
}
@media screen and (max-height: 856px) {
    .mockup {
        height: 100vh;
        width: calc(100vh * 0.49);
    }
}
@media screen and (max-width: 567px) {
    .container {
        border-radius: 0;
    }
}
